<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${pageTitle}]]</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
<div class="container-fluid text-center">
    <div class="text-center"><h2>[[${pageTitle}]]</h2></div>
    <div> <h1> . </h1></div>
    <div class="text-center"><p>Please rate the following characteristics on a scale from 0 to 100, where 0 means not at all and 100 means completely</p></div>
    <div> <h1> . </h1></div>

    <div th:if="${msg}" class="alert alert-success text-center">
        [[${msg}]]
    </div>

    <form th:action="@{/user-home/recommender/generate}" method="post" th:object="${message}"
          style="max-width: 500px; margin: 0 auto;">
        <div class="border border-secondary rounded p-3">
            <div class="form-group row">
                <label class="col-sm col-form-label">Warm:</label>
                <div class="col-sm-8">
                    <input type="number" th:field="*{warm}" class="form-control" required minlength="1" maxlength="50" min="0" max="100"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm col-form-label">Gentle:</label>
                <div class="col-sm-8">
                    <input type="number" th:field="*{gentle}" class="form-control" required minlength="1" maxlength="50" min="0" max="100"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm col-form-label">Calm:</label>
                <div class="col-sm-8">
                    <input type="number" th:field="*{calm}" class="form-control" required minlength="1" maxlength="50" min="0" max="100"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm col-form-label">Extrovert:</label>
                <div class="col-sm-8">
                    <input type="number" th:field="*{extrovert}" class="form-control" required minlength="1" maxlength="50" min="0" max="100"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm col-form-label">Adaptable:</label>
                <div class="col-sm-8">
                    <input type="number" th:field="*{adaptable}" class="form-control" required minlength="1" maxlength="50" min="0" max="100"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm col-form-label">Elegant:</label>
                <div class="col-sm-8">
                    <input type="number" th:field="*{elegant}" class="form-control" required minlength="1" maxlength="50" min="0" max="100"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm col-form-label">Optimistic:</label>
                <div class="col-sm-8">
                    <input type="number" th:field="*{optimistic}" class="form-control" required minlength="1" maxlength="50" min="0" max="100"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm col-form-label">Creative:</label>
                <div class="col-sm-8">
                    <input type="number" th:field="*{creative}" class="form-control" required minlength="1" maxlength="50" min="0" max="100"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm col-form-label">Sophisticated:</label>
                <div class="col-sm-8">
                    <input type="number" th:field="*{sophisticated}" class="form-control" required minlength="1" maxlength="50" min="0" max="100"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm col-form-label">Adventurous:</label>
                <div class="col-sm-8">
                    <input type="number" th:field="*{adventurous}" class="form-control" required minlength="1" maxlength="50" min="0" max="100"/>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary m-2">Generate</button>
                <button type="button" class="btn btn-secondary m-2" onclick="cancelForm()">Cancel</button>
            </div>
        </div>
    </form>

</div>
<script type="text/javascript">
    function  cancelForm() {
        window.location = "[[@{/user-home}]]"
    }
</script>
</body>